h3.terminado{
    color: green
}

button{
    color: white;
    background-color: rgb(11, 70, 230);
    height: 30px;
    margin-top: 1 rem;
    padding: auto;
    width: 40% ;
}

button:hover{
    background-color: whitesmoke;
    color: rgb(11, 70, 230);
    font-weight: bold;
}

div.result{
    color: rgb(11, 70, 230);  
    font-weight: bold;
    margin-top: 5px;
    padding-top: 25px;
    padding-left: 25px;
    width: 50%;
} 